<mat-toolbar color="primary">
  <span>Kotlin Warehouse</span>
  <span class="header-spacer"></span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    matTooltip="W trakcie implementacji"
  >
    <mat-icon>person</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    matTooltip="W trakcie implementacji"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
